<div class="card">
  <div class="card-body">
    <img class="card-img-top"
         src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_640.png"
         alt="Card Image"
         style="width:200px">
    <h3><strong>{{contact.name}}</strong></h3>
    <h4>ID No.: <strong> {{contact.id}}</strong></h4>
    <h4>Email: <strong> {{contact.email}}</strong></h4>
    <h4>Phone No.: <strong> {{contact.phone}}</strong>e</h4>
    <button class="btn btn-primary btn-md"
            type="button"><span class="glyphicon glyphicon-chevron-left"> </span> Back</button>
  </div>
</div>
